<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.ClassMapper">
<!--1-->
<resultMap type="xmu.crms.entity.ClassInfo" id="ClassInfoResultMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="course_id" property="course.id"/>
    <result column="site" property="site"/>
    <result column="class_time" property="classTime"/>
    <result column="report_percentage" property="reportPercentage"/>
    <result column="presentation_percentage" property="presentationPercentage"/>
    <result column="five_point_percentage" property="fivePointPercentage"/>
    <result column="four_point_percentage" property="fourPointPercentage"/>
    <result column="three_point_percentage" property="threePointPercentage"/>
</resultMap>

<!--2 location table
<resultMap type="xmu.crms.entity.Location" id="LocationResultMap">
    <id column="id" property="id"/>
    <result column="class_id" property="classInfo.id"/>
    <result column="seminar_id" property="seminar.id"/>
    <result column="longtitude" property="BigIntegeritude"/>
    <result column="latitude" property="latitude"/>
    <result column="status" property="status"/>
</resultMap>
-->
<delete id="deleteClassSelectionByClassId" >
delete from course_selection where class_id=#{classId};
</delete>
<!--1-->
<select id="listClassByName" resultMap="ClassInfoResultMap">
select class_info.* from class_info,user_info,course where course.name=#{courseName}  and course.teacher_id=user_info.id and user_info.name=#{teacherName} and course.id=class_info.course_id ;
</select>

<select id="listClassByCourseId" resultMap="ClassInfoResultMap">
select class_info.* from class_info  where  class_info.course_id=#{courseId.longValue()};
</select>

<select id="getClassByClassId" resultMap="ClassInfoResultMap">
select * from class_info where id=#{classId.longValue()};
</select>
<update id="updateClassByClassId">
	update class_info set name=#{newClass.name},site=#{newClass.site},
	course_id=#{newClass.course.id},class_time=#{newClass.classTime},
	report_persentage=#{newClass.reportPercentage},five_point_persentage=#{newClass.fivePointPercentage},
	four_point_persentage=#{newClass.fourPointPercentage},three_point_persentage=#{newClass.threePointPercentage},
	where id=#{classId};
</update>

<delete id="deleteClassByClassId">
delete from class_info where id=#{classId.longValue()};
</delete>

<insert id="insertCourseSelectionById">
insert into course_selection(class_id,student_id) values(classId.longValue(),userId.longValue());
</insert>

<delete id="deleteCourseSelectionById">
delete from course_selection where class_id=#{classId.longValue()} and student_Id=#{userId.longValue()};
</delete>

<select id="getCallStatusById" resultMap="ClassInfoResultMap">
    select class_info.* from class_info,location where location.seminar_id=#{seminarId} and location.class_id=class_info.id;
</select>

<insert id="insertClassById">
insert into class_info(name,course_id) values("周三三四节",#{courseId});
</insert>

<delete id="deleteClassByCourseId">
delete from class_info where course_id=#{courseId};
</delete>

<!--ScoreRule表已经删除,删除当作设置空值-->
<update id="deleteScoreRuleById">
	update class_info set report_percentage=null,presentation_percentage,five_point_percentage,four_point_percentage,three_point_percentage where id=#{classId};
</update>

<select id="getScoreRule" resultMap="ClassInfoResultMap">
	select * from class_info where id=#{classId};
</select>
<!--ScoreRule表已经删除,插入当作设置-->
<update id="insertScoreRule">
	update class_info set  report_percentage=#{proportions.reportPercentage},
	presentation_percentage=#{proportions.presentationPercentage},five_point_percentage=#{proportions.fivePointPercentage},
	four_point_percentage=#{proportions.fourPointPercentage},three_point_percentage=#{proportions.threePointPercentage},
	where id=#{classId};
</update>

<update id="updateScoreRule">
	update class_info set report_percentage=#{proportions.reportPercentage},
	presentation_percentage=#{proportions.presentationPercentage},five_point_percentage=#{proportions.fivePointPercentage},
	four_point_percentage=#{proportions.fourPointPercentage},three_point_percentage=#{proportions.threePointPercentage},
	where id=#{classId};
</update>
</mapper>
