<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.SchoolMapper">
    <select id="listSchoolByCity" resultType="School">
        select * from school WHERE city=#{city}
    </select>
    
    <select id="listProvince" >
    	select province from school
    </select>
    
    <select id="listCity" >
    	select city from school WHERE province=#{province}
    </select>
    
</mapper>