<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.TopicMapper">

	<!-- TODO:about a chain of class property- seminar -->
	<resultMap type="xmu.crms.entity.Topic" id="TopicResultMap">
    	<id column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="description" property="description"/>
    	<result column="group_number_limit" property="groupNumberLimit"/>
    	<result column="group_student_limit" property="groupStudentLimit"/>
    </resultMap>
	
	<select id="getCourseByCourseId" parameterType="java.math.BigInteger" resultMap="TopicResultMap">
		select * from topic where id = #{id}
    </select>
    
    <!-- TODO:about class property- seminar -->
    <update id="updateTopicByTopicId" parameterType="xmu.crms.entity.Topic">
    	update topic set
    		name=#{topic.name},
    		description=#{topic.description},
    		group_number_limit=#{topic.groupNumberLimit},
    		group_student_limit=#{topic.groupStudentLimit},
    	where id=#{topicId}
    </update>
    
    <!-- TODO:about set selected group to null -->
    <delete id="deleteTopicByTopicId">
    	delete from topic where id=#{topicId}
    </delete>
    
    <select id="listTopicBySeminarId" parameterType="java.math.BigInteger" resultMap="TopicResultMap">
		select * from topic where seminar_id = #{id}
    </select>
    
    <insert id="insertTopicBySeminarId">
    	insert into topic(
    		name,
    		description,
    		group_number_limit,
    		group_student_limit,
    		seminar_id
    	)values(
    		#{topic.name},
    		#{topic.description},
    		#{topic.group_number_limit},
    		#{topic.group_student_limit},
    		#{seminarId}
    	)
    </insert>
    
    <delete id="deleteTopicById">
    	delete from seminar_group_topic where topic_id=#{topic_id} and seminar_group_id=#{groupId}
    </delete>
    
    <delete id="deleteSeminarGroupTopicByTopicId">
    	delete from seminar_group_topic where topic_id=#{topic_id}
    </delete>
    
    <!-- TODO:about a chain of events that need to delete -->
    <delete id="deleteTopicBySeminarId">
    	
    </delete>

</mapper>